{% load static %}
{% load mathfilters %}
{% load escape_replace %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>challenge-timetable</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css'>
<link rel="stylesheet" href={% static "css/style.css" %}>

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container-lecture">
    <section class="header">
        <h3 class="headline">시간표 만들기</h3>
    </section>
    <section class="section-nav">
        <form id="search-form" class="form-search" action="{% url 'search' %}">
            <input type="text" placeholder="강의 검색" class="form-control" name="keyword" onclick="this.value=''" value={{keyword}}>
            <span><i class="material-icons ic-search">search</i></span>
        </form>

        {% if search_items %}
        {% for item in search_items %}
        <ul class="list-lecture">
            <li class="card-lecture" 
                data-id="{{item.id}}" data-lecture="{{item.lecture}}"
                data-start="{{item.start_time}}" data-end="{{item.end_time}}"
                data-professor="{{item.professor}}" data-day="{{item.day_of_week}}"
                data-code="{{item.lecture_code}}" data-location="{{item.location}}">
                <a class="lecture-title" href="#">
                {{ item.lecture }}
                </a>
                <h6 class="lecture-time">
                    <i class="material-icons ic-lecture-info">access_time</i>
                    <span>
                    {{ item.start_time|stringformat:"02d" }} - {{ item.end_time|stringformat:"02d" }} | 
                    {% if item.day_of_week|length == 2 %}
                    ({{ item.day_of_week.0 }}), ({{item.day_of_week.1}})
                    {% else %}
                    ({{ item.day_of_week.0 }})
                    {% endif %}
                    </span>
                </h6>
                <ul class="list-lecture-info">
                    <li>교과목 코드 : {{ item.lecture_code }}</li>
                    <li>담당 교수 : {{ item.professor }}</li>
                    <li>강의실 : {{ item.location }}</li>
                </ul>
            </li>
        </ul>
        {% endfor %}
        {% else %}
        정보가 없습니다.
        {% endif %}
    </section>

    <section class="section-list">
        <div class="container-xl">
            <div class="table-schedule">
                <div class="timeline">
                    <ul>
                        <li><span>09:00</span></li>
                        <li><span>09:30</span></li>
                        <li><span>10:00</span></li>
                        <li><span>10:30</span></li>
                        <li><span>11:00</span></li>
                        <li><span>11:30</span></li>
                        <li><span>12:00</span></li>
                        <li><span>12:30</span></li>
                        <li><span>13:00</span></li>
                        <li><span>13:30</span></li>
                        <li><span>14:00</span></li>
                        <li><span>14:30</span></li>
                        <li><span>15:00</span></li>
                        <li><span>15:30</span></li>
                        <li><span>16:00</span></li>
                        <li><span>16:30</span></li>
                        <li><span>17:00</span></li>
                        <li><span>17:30</span></li>
                        <li><span>18:00</span></li>
                    </ul>
                </div>

                <div class="table-schedule-subject">
                    <ul class="list-lecture-item">
                        <li class="timeline-vertical">
                            <div class="top-info">
                                <h4 class="day">Mon</h4>
                            </div>
                            <ul>
                                {% for item in items %}
                                {% if item.is_register and "월" in item.day_of_week %}
                                    {% if item.end_time|sub:item.start_time == 1  %}
                                    <li class="lecture-time hr-{{ item.start_time }}" data-event="lecture-{{ item.end_time|mod:10|add:1|stringformat:"02d" }}">
                                        <a href="#" 
                                        data-id="{{item.id}}" data-lecture="{{item.lecture}}"
                                        data-start="{{item.start_time}}" data-end="{{item.end_time}}"
                                        data-professor="{{item.professor}}" data-day="{{item.day_of_week}}"
                                        data-code="{{item.lecture_code}}" data-location="{{item.location}}">
                                            <div class="lecture-info">
                                                <h6 class="lecture-title">{{ item.lecture }}</h6>
                                                <h6 class="lecture-location">{{ item.location }}</h6>
                                            </div>
                                            {% for memo in item.memos.all %}
                                            <div class="lecture-noti" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{ memo.title }}">
                                            <i class="material-icons ic-lecture-noti">assignment</i>
                                            <span class="lecture-noti-title" data-memo-id="{{ memo.id }}" data-memo-title="{{ memo.title|escape_replace }}" data-memo-description="{{ memo.description|escape_replace }}">
                                            {{ memo.title }}
                                            </span>
                                            </div>
                                            {% endfor %}
                                        </a>
                                    </li>
                                    {% elif item.end_time|sub:item.start_time == 2 %}
                                    <li class="lecture-time hr-{{ item.start_time }} two-hr" data-event="lecture-{{ item.end_time|mod:10|add:1|stringformat:"02d" }}">
                                        <a href="#" 
                                        data-id="{{item.id}}" data-lecture="{{item.lecture}}"
                                        data-start="{{item.start_time}}" data-end="{{item.end_time}}"
                                        data-professor="{{item.professor}}" data-day="{{item.day_of_week}}"
                                        data-code="{{item.lecture_code}}" data-location="{{item.location}}">
                                            <div class="lecture-info">
                                                <h6 class="lecture-title">{{ item.lecture }}</h6>
                                                <h6 class="lecture-location">{{ item.location }}</h6>
                                            </div>
                                            {% for memo in item.memos.all %}
                                            <div class="lecture-noti" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{ memo.title }}">
                                            <i class="material-icons ic-lecture-noti">assignment</i>
                                            <span class="lecture-noti-title" data-memo-id={{ memo.id }} data-memo-title={{ memo.title|escape_replace }} data-memo-description={{ memo.description|escape_replace }}>
                                            {{ memo.title }}
                                            </span>
                                            </div>
                                            {% endfor %}
                                        </a>
                                    </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </li>

                        <li class="timeline-vertical">
                            <div class="top-info">
                                <h4 class="day">Tue</h4>
                            </div>
                            <ul>
                                {% for item in items %}
                                {% if item.is_register and "화" in item.day_of_week %}
                                    {% if item.end_time|sub:item.start_time == 1  %}
                                    <li class="lecture-time hr-{{ item.start_time }}" data-event="lecture-{{ item.end_time|mod:10|add:1|stringformat:"02d" }}">
                                        <a href="#" 
                                        data-id="{{item.id}}" data-lecture="{{item.lecture}}"
                                        data-start="{{item.start_time}}" data-end="{{item.end_time}}"
                                        data-professor="{{item.professor}}" data-day="{{item.day_of_week}}"
                                        data-code="{{item.lecture_code}}" data-location="{{item.location}}">
                                            <div class="lecture-info">
                                                <h6 class="lecture-title">{{ item.lecture }}</h6>
                                                <h6 class="lecture-location">{{ item.location }}</h6>
                                            </div>
                                            {% for memo in item.memos.all %}
                                            <div class="lecture-noti" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{ memo.title }}">
                                            <i class="material-icons ic-lecture-noti">assignment</i>
                                            <span class="lecture-noti-title" data-memo-id="{{ memo.id }}" data-memo-title="{{ memo.title|escape_replace }}" data-memo-description="{{ memo.description|escape_replace }}">
                                            {{ memo.title }}
                                            </span>
                                            </div>
                                            {% endfor %}
                                        </a>
                                    </li>
                                    {% elif item.end_time|sub:item.start_time == 2 %}
                                    <li class="lecture-time hr-{{ item.start_time }} two-hr" data-event="lecture-{{ item.end_time|mod:10|add:1|stringformat:"02d" }}">
                                        <a href="#" 
                                        data-id="{{item.id}}" data-lecture="{{item.lecture}}"
                                        data-start="{{item.start_time}}" data-end="{{item.end_time}}"
                                        data-professor="{{item.professor}}" data-day="{{item.day_of_week}}"
                                        data-code="{{item.lecture_code}}" data-location="{{item.location}}">
                                            <div class="lecture-info">
                                                <h6 class="lecture-title">{{ item.lecture }}</h6>
                                                <h6 class="lecture-location">{{ item.location }}</h6>
                                            </div>
                                            {% for memo in item.memos.all %}
                                            <div class="lecture-noti" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{ memo.title }}">
                                            <i class="material-icons ic-lecture-noti">assignment</i>
                                            <span class="lecture-noti-title" data-memo-id={{ memo.id }} data-memo-title={{ memo.title|escape_replace }} data-memo-description={{ memo.description|escape_replace }}>
                                            {{ memo.title }}
                                            </span>
                                            </div>
                                            {% endfor %}
                                        </a>
                                    </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </li>

                        <li class="timeline-vertical">
                            <div class="top-info">
                                <h4 class="day">Wed</h4>
                            </div>

                            <ul>
                                {% for item in items %}
                                {% if item.is_register and "수" in item.day_of_week %}
                                    {% if item.end_time|sub:item.start_time == 1  %}
                                    <li class="lecture-time hr-{{ item.start_time }}" data-event="lecture-{{ item.end_time|mod:10|add:1|stringformat:"02d" }}">
                                        <a href="#" 
                                        data-id="{{item.id}}" data-lecture="{{item.lecture}}"
                                        data-start="{{item.start_time}}" data-end="{{item.end_time}}"
                                        data-professor="{{item.professor}}" data-day="{{item.day_of_week}}"
                                        data-code="{{item.lecture_code}}" data-location="{{item.location}}">
                                            <div class="lecture-info">
                                                <h6 class="lecture-title">{{ item.lecture }}</h6>
                                                <h6 class="lecture-location">{{ item.location }}</h6>
                                            </div>
                                            {% for memo in item.memos.all %}
                                            <div class="lecture-noti" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{ memo.title }}">
                                            <i class="material-icons ic-lecture-noti">assignment</i>
                                            <span class="lecture-noti-title" data-memo-id="{{ memo.id }}" data-memo-title="{{ memo.title|escape_replace }}" data-memo-description="{{ memo.description|escape_replace }}">
                                            {{ memo.title }}
                                            </span>
                                            </div>
                                            {% endfor %}
                                        </a>
                                    </li>
                                    {% elif item.end_time|sub:item.start_time == 2 %}
                                    <li class="lecture-time hr-{{ item.start_time }} two-hr" data-event="lecture-{{ item.end_time|mod:10|add:1|stringformat:"02d" }}">
                                        <a href="#" 
                                        data-id="{{item.id}}" data-lecture="{{item.lecture}}"
                                        data-start="{{item.start_time}}" data-end="{{item.end_time}}"
                                        data-professor="{{item.professor}}" data-day="{{item.day_of_week}}"
                                        data-code="{{item.lecture_code}}" data-location="{{item.location}}">
                                            <div class="lecture-info">
                                                <h6 class="lecture-title">{{ item.lecture }}</h6>
                                                <h6 class="lecture-location">{{ item.location }}</h6>
                                            </div>
                                            {% for memo in item.memos.all %}
                                            <div class="lecture-noti" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{ memo.title }}">
                                            <i class="material-icons ic-lecture-noti">assignment</i>
                                            <span class="lecture-noti-title" data-memo-id={{ memo.id }} data-memo-title={{ memo.title|escape_replace }} data-memo-description={{ memo.description|escape_replace }}>
                                            {{ memo.title }}
                                            </span>
                                            </div>
                                            {% endfor %}
                                        </a>
                                    </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            </ul>
                        </li>

                        <li class="timeline-vertical">
                            <div class="top-info">
                                <h4 class="day">Thu</h4>
                            </div>

                            <ul>
                                {% for item in items %}
                                {% if item.is_register and "목" in item.day_of_week %}
                                    {% if item.end_time|sub:item.start_time == 1  %}
                                    <li class="lecture-time hr-{{ item.start_time }}" data-event="lecture-{{ item.end_time|mod:10|add:1|stringformat:"02d" }}">
                                        <a href="#" 
                                        data-id="{{item.id}}" data-lecture="{{item.lecture}}"
                                        data-start="{{item.start_time}}" data-end="{{item.end_time}}"
                                        data-professor="{{item.professor}}" data-day="{{item.day_of_week}}"
                                        data-code="{{item.lecture_code}}" data-location="{{item.location}}">
                                            <div class="lecture-info">
                                                <h6 class="lecture-title">{{ item.lecture }}</h6>
                                                <h6 class="lecture-location">{{ item.location }}</h6>
                                            </div>
                                            {% for memo in item.memos.all %}
                                            <div class="lecture-noti" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{ memo.title }}">
                                            <i class="material-icons ic-lecture-noti">assignment</i>
                                            <span class="lecture-noti-title" data-memo-id="{{ memo.id }}" data-memo-title="{{ memo.title|escape_replace }}" data-memo-description="{{ memo.description|escape_replace }}">
                                            {{ memo.title }}
                                            </span>
                                            </div>
                                            {% endfor %}
                                        </a>
                                    </li>
                                    {% elif item.end_time|sub:item.start_time == 2 %}
                                    <li class="lecture-time hr-{{ item.start_time }} two-hr" data-event="lecture-{{ item.end_time|mod:10|add:1|stringformat:"02d" }}">
                                        <a href="#" 
                                        data-id="{{item.id}}" data-lecture="{{item.lecture}}"
                                        data-start="{{item.start_time}}" data-end="{{item.end_time}}"
                                        data-professor="{{item.professor}}" data-day="{{item.day_of_week}}"
                                        data-code="{{item.lecture_code}}" data-location="{{item.location}}">
                                            <div class="lecture-info">
                                                <h6 class="lecture-title">{{ item.lecture }}</h6>
                                                <h6 class="lecture-location">{{ item.location }}</h6>
                                            </div>
                                            {% for memo in item.memos.all %}
                                            <div class="lecture-noti" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{ memo.title }}">
                                            <i class="material-icons ic-lecture-noti">assignment</i>
                                            <span class="lecture-noti-title" data-memo-id={{ memo.id }} data-memo-title={{ memo.title|escape_replace }} data-memo-description={{ memo.description|escape_replace }}>
                                            {{ memo.title }}
                                            </span>
                                            </div>
                                            {% endfor %}
                                        </a>
                                    </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            </ul>
                        </li>

                        <li class="timeline-vertical">
                            <div class="top-info">
                                <h4 class="day">Fri</h4>
                            </div>

                         
                            <ul>
                            {% for item in items %}
                                {% if item.is_register and "금" in item.day_of_week %}
                                    {% if item.end_time|sub:item.start_time == 1  %}
                                    <li class="lecture-time hr-{{ item.start_time }}" data-event="lecture-{{ item.end_time|mod:10|add:1|stringformat:"02d" }}">
                                        <a href="#" 
                                        data-id="{{item.id}}" data-lecture="{{item.lecture}}"
                                        data-start="{{item.start_time}}" data-end="{{item.end_time}}"
                                        data-professor="{{item.professor}}" data-day="{{item.day_of_week}}"
                                        data-code="{{item.lecture_code}}" data-location="{{item.location}}">
                                            <div class="lecture-info">
                                                <h6 class="lecture-title">{{ item.lecture }}</h6>
                                                <h6 class="lecture-location">{{ item.location }}</h6>
                                            </div>
                                            {% for memo in item.memos.all %}
                                            <div class="lecture-noti" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{ memo.title }}">
                                            <i class="material-icons ic-lecture-noti">assignment</i>
                                            <span class="lecture-noti-title" data-memo-id="{{ memo.id }}" data-memo-title="{{ memo.title|escape_replace }}" data-memo-description="{{ memo.description|escape_replace }}">
                                            {{ memo.title }}
                                            </span>
                                            </div>
                                            {% endfor %}
                                        </a>
                                    </li>
                                    {% elif item.end_time|sub:item.start_time == 2 %}
                                    <li class="lecture-time hr-{{ item.start_time }} two-hr" data-event="lecture-{{ item.end_time|mod:10|add:1|stringformat:"02d" }}">
                                        <a href="#" 
                                        data-id="{{item.id}}" data-lecture="{{item.lecture}}"
                                        data-start="{{item.start_time}}" data-end="{{item.end_time}}"
                                        data-professor="{{item.professor}}" data-day="{{item.day_of_week}}"
                                        data-code="{{item.lecture_code}}" data-location="{{item.location}}">
                                            <div class="lecture-info">
                                                <h6 class="lecture-title">{{ item.lecture }}</h6>
                                                <h6 class="lecture-location">{{ item.location }}</h6>
                                            </div>
                                            {% for memo in item.memos.all %}
                                            <div class="lecture-noti" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{ memo.title }}">
                                            <i class="material-icons ic-lecture-noti">assignment</i>
                                            <span class="lecture-noti-title" data-memo-id={{ memo.id }} data-memo-title={{ memo.title|escape_replace }} data-memo-description={{ memo.description|escape_replace }}>
                                            {{ memo.title }}
                                            </span>
                                            </div>
                                            {% endfor %}
                                        </a>
                                    </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="modal-lecture-info" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 class="lecture-title" id="modal-lecture-info-title"></h3>
                <ul class="lecture-info">
                    <li class="lecture-time">
                        <i class="material-icons ic-lecture-info">access_alarm</i>
                        <span id="modal-lecture-info-time"></span>
                    </li>
                    <li class="lecture-code">
                        <i class="material-icons ic-lecture-info">code</i>
                        <span id="modal-lecture-info-code"></span>
                    </li>
                    <li class="lecture-code">
                        <i class="material-icons ic-lecture-info">school</i>
                        <span id="modal-lecture-info-professor"></span>
                    </li>
                    <li class="lecture-code">
                        <i class="material-icons ic-lecture-info">business</i>
                        <span id="modal-lecture-info-location"></span>
                    </li>
                </ul>
                <div class="lecture-description">
                    <p class="txt-description">본 강의에서는 JSP를 이용한 웹 기반 프로그래밍 기초 및 응용기술에 대해 학습합니다. 특히 실습 위주의 수업으로 프로그래밍 스킬 향상 및
                        실무 능력을 갖출 수 있도록 합니다.
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" id="modal-lecture-info-register">과목 등록하기</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-lecture-task" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 class="lecture-title" id="modal-lecture-task-title"></h3>
                <ul class="lecture-info">
                    <li class="lecture-time">
                        <i class="material-icons ic-lecture-info">access_alarm</i>
                        <span id="modal-lecture-task-time"></span>
                    </li>
                    <li class="lecture-code">
                        <i class="material-icons ic-lecture-info">code</i>
                        <span id="modal-lecture-task-code"></span>
                    </li>
                    <li class="lecture-code">
                        <i class="material-icons ic-lecture-info">school</i>
                        <span id="modal-lecture-task-professor"></span>
                    </li>
                    <li class="lecture-code">
                        <i class="material-icons ic-lecture-info">business</i>
                        <span id="modal-lecture-task-location"></span>
                    </li>
                </ul>
                <div class="lecture-description">
                    <p class="txt-description">본 강의에서는 JSP를 이용한 웹 기반 프로그래밍 기초 및 응용기술에 대해 학습합니다. 특히 실습 위주의 수업으로 프로그래밍 스킬 향상 및
                        실무 능력을 갖출 수 있도록 합니다.
                    </p>
                </div>

                <div class="lecture-memo">
                    <h5 class="memo-header">메모</h5>
                    <ul id="modal-memo-list">
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <div class="left">
                    <button class="btn btn-light-primary" type="button" data-toggle="popover"
                            data-trigger="click" data-placement="right" data-html="true">
                        메모 등록
                    </button>
                </div>
                <div class="right">
                    <button type="button" class="btn btn-light" data-dismiss="modal">확인</button>
                    <button type="button" class="btn btn-danger" id="modal-lecture-task-delete" >과목 삭제하기</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="PopoverContent" style="display: none;">
    <form method="GET" action="" id="memo-form">
        <h5 class="schedule-title">메모 등록하기</h5>
        <div class="form-group">
            <label class="col-form-label">제목
                <input type="text" class="form-control" id="recipient-name" placeholder="제목 추가" name="title">
            </label>
        </div>
        <div class="form-group">
            <label for="message-text" class="col-form-label">설명</label>
            <textarea class="form-control" id="message-text" placeholder="설명 추가" name="description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-save">등록</button>
    </form>
</div>
<!-- partial -->
  <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
<script  src={% static 'js/script.js' %}></script>
<script>
    var x = document.getElementsByClassName("top-info");
    var day = new Date();
    x[day.getDay() - 1].setAttribute("class", "top-info today");
</script>
{% if messages %}
    {% for message in messages %}
        <script>alert("{{message}}")</script>
    {% endfor %}
{% endif %}
</body>
</html>